<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="">
    <input type="checkbox" ng-model="myVar" ng-init="myVar = false">
    <div ng-if="myVar">
    <h1>Welcome</h1>
    <h2>Homepage</h2>
    <h2> Registration/Login </h2>

    <form name="Form">
        <div ng-hide="toShow">
            Enter Username:
            <input type="text" required ng-model="Name"/>
            <br>
            <br>
            Password Readonly: <input type="checkbox" ng-model="readOnly">
            <br>
            <input type="text" ng-readonly="readOnly"><br> <br>
            <input type="button" ng-disabled="Form.$invalid" ng-click="toShow=true" value="Sign In"/>

        </div>
        
        <div ng-show="toShow">
            <H1>CONGRATULATIONS!!</H1>
            <br>
            <input type="button" ng-click="toShow=false" value="Logout"/>
        
        
        </div>
        
    </form>
</div>
</body>
</html>